


/* Navigation bar */

.nav{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.btn-apps{
    width: 30px;
    height: 30px;
    background-image: url("../images/apps-icon.png");
    background-size: cover;
    background-color:white;
    opacity: 0.5;
    border: none;
    cursor: pointer;
}

.btn-sign-in{
    color: white;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: center;
    padding: 9px 23px;
    background-color: #1a73e8;
    border-radius:  4px;
    border: 1px solid transparent;
    margin: 0 8px;
    cursor: pointer;
}


.nav-link{
    cursor: pointer;
    color:rgba(0,0,0,0.87);
    font-family: arial, sans-serif;
    font-size: 13px;
    margin-right: 10px;
    text-decoration: none; /* remove the default underline */
}

.nav-link:hover{
    text-decoration: underline;
}


/* Search bar and buttons */

.search-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 272px;
    height: 92px;
    margin-bottom: 1.5em;
}

.search-bar {
    width: 584px;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 24px;
    border-color: #dfe1e5;
    border-style: solid;
    border-width: 1px;
    background-color: white;
  }

.search-bar:hover, .search-bar:focus-within
{
border-color: white;
box-shadow: 0 1px 6px rgba(32,33,36,.28);
}
  
.search-icon {
  width: 24px;
  height: 24px;
  margin-left: 0.5em;
  padding-right: 10px;
  opacity: 0.3;
}

.search-input {
    display: flex;
    width: 90%;
    border-color: transparent;
    outline: none;
    font-size: 16px;
    font-family: arial, sans-serif;
    color: rgba(0,0,0,.87);
    cursor:text;
}

.search-buttons{
    display: flex;
    align-items: center;
    justify-content:center;
    padding-top: 18px;
}

.btn-search{
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0px 16px;
    line-height: 27px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    min-width: 54px;
}


.btn-search:hover{
    border-color: #dfe1e5;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    color:black;
}

.btn-search:focus{
    border-color:cornflowerblue;
}


